.proj-item {
  margin: 2em 0;
  line-height: 1em;
}

.proj-teaser {
  float: left;
}

.proj-teaser img {
  width: 100px;
  /* border: 1px solid black; */
  margin-right: 5px;
}
  
.proj-info {
  float: left;
}

.proj-name {
  margin-left: 5px;
  margin-bottom: .5em;
  line-height: 1.2em;
  font-weight: bold;
}

.proj-description {
  font-size: 75%;
  margin-bottom: .75em;
  margin-left: 5px;
}

.project-title {
  clear: both;
  text-align: center;
}

.project-image {
  clear: both;
  float: center;
  text-align: center;
}


.profile {
  margin: 2em 0;
  line-height: 1em;
  border: 1px solid black;
  float: left;
}

.profile-pic {
  clear: both;
}

.profile-info {
  clear: both
}

.profile-name {
  margin-left: 5px;
  margin-bottom: .5em;
  line-height: 1.2em;
  font-weight: bold;
}

.profile-text {
  margin-left: 5px;
  margin-bottom: 1.5em;
  line-height: 1.2em;
  font-size: 75%;
}

.profile-image {
  float: left;
  width: 30%;
}

.profile-header {
  float: right;
  width: 70%;
}

.profile-role {
  margin-left: 5px;
  line-height: 1.2em;
}

.post-content {
  padding-top: 20px;
  clear: both;
}

.pub-item {
  margin: 2em 0;
  line-height: 1em;
}

.pub-title {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
}

.pub-authors,
.pub-info {
  font-size: 75%;
  margin-bottom: 0.75em;
}
