---
layout: page
title: Projects
permalink: /projects/
---

{% assign projects = site.projects %}
{% assign people = site.people %}
{% for proj in projects %}
<div class="proj-item">
  <div class="proj-teaser">
    <a href="{{proj.url}}">
      <img src="/images/projects/{{ proj.slug }}_small.png" alt="{{proj.slug}} teaser"/>
    </a>
  </div>
  <div class="proj-info">
    <div class="proj-name">
        <a href="{{proj.url}}">{{ proj.name }}</a>
    </div>

    <div class="proj-team">
      Project team:
      {%- assign authors = proj.people -%}
      {%- include author_list.html -%}
    </div>
    <div class="proj-description">
        {{ proj.description }}
    </div>
    <div class="proj-problems">
      <p>Atomic Problems: 
        {% for problem in proj.atomic_problems -%}
          {%- if forloop.first %}{{ problem }}
          {%- else %}, {{ problem }}{%- endif %}
        {%- endfor -%}
      </p>
    </div>
  </div>
</div>
{% endfor %}
