---
layout: v1/default
---

<div class="home">
    {% include v1/slogan.html %}
    <section>
        <div id="about">
            {% include v1/intro.html %}
        </div>
    </section>
    <section>
        <div id="news">
            {% include v1/news.html %}
        </div>
    </section>
    <!-- <section>
        <div id="about">
            {% include v1/intro-overview.html %}
        </div>
    </section> -->
    <section>
        <div id="projects">
            {% include v1/projects.html %}
        </div>
    </section>
    <section>
        <div id="people">
            {% include v1/people.html %}
        </div>
    </section>
    
    <section>
        <div id="publications">
            {% include v1/publications.html %}
        </div>
    </section>
</div>