<!-- Atomic Problem Title -->
<!-- <h3>{{ prob.title }}: {{ prob.description }}</h3> -->
<h3>{{ prob.description }}</h3>

{%- if prob.problem_statement -%}
<p><strong>Problem Statement: </strong>{{ prob.problem_statement }}</p>
{% endif %}
{%- if prob.contribution -%}
<p><strong>Solution / Contribution: </strong>{{ prob.contribution }}</p>
{% endif %}

<p>{{ prob.content | markdownify }}</p>

<!-- Related Papers -->
<div class="atomic-papers">
    {%- assign categorized_pubs = site.pubs | where: "category", prob.title -%}
    {%- assign sorted_pubs = categorized_pubs | sort: "year" | reverse %}
    {% if sorted_pubs.size > 0 %}
    <a class="toggleButton btn btn-sm z-depth-0" role="button">
        Related Papers</a>

    <div class="related-papers-container" style="display: none;">
        <div class="container">
            <div class="row row-cols-2">
                {%- for project in sorted_pubs -%}
                {% include projects_horizontal.html %}
                {%- endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <p>No papers listed.</p>
    {% endif %}
</div>