<style>
    .projects-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
    .project {
        position: static;
        text-align: center;
        margin: 10px;
        width: 33.333333%;
    }
    .project-icon-img {
        object-fit: cover;
        object-position: center;
        height: 150px;
        width: 150px;
        cursor: pointer;
    }
    .project-description {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: wrap;
        top: 100%;
        width: 200px;
        padding: 10px;
    }
    .project {
        transition: transform 0.2s;
    }
    .project:hover {
        transform: scale(1.2);
    }

    .project:hover .project-description {
        display: block;
    }

    /* For small screens, display projects in columns, display descriptions */
    @media screen {
        .projects-container {
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
        }
        
        .project {
            width: 90%;
            margin: 10px;
            position: static;
        }
        
        .project:hover {
            transform: none;
        }
        
        .project-description {
            position: static;
            display: block;
            left: auto;
            transform: none;
            width: 100%;
            margin-top: 10px;
        }
    }

    /* For medium screens, display projects in rows, display descriptions */
    @media (min-width: 768px) {
        .md\:projects-container {
            flex-direction: row;
            align-items: center;
            padding-bottom: 20px;
        }

        .md\:project {
            width: 25%;
            margin: 20px;
            position: static;
        }

    }

    /* For large screens, display projects in rows, hide descriptions until hover */
    @media (min-width: 1024px) {
        .lg\:project {
            width: 20%;
        }

        .lg\:project-description {
            display: none;
        }
    }

    @media (min-width: 1280px) {
        .xl\:project {
            width: 16.666667%;
        }
    }
</style>

<div class="bg-white pt-8 pb-4 sm:pt-16 sm:pb-6">
    <div class="px-6 text-center">
        <h1 class="inline-block text-4xl font-semibold text-gray-900">
            Projects
        </h1>
    </div>

    <div class="projects-container sm:projects-container md:projects-container lg:projects-container xl:projects-container">
        {% for project in site.data.onepage.projects %}
        <div class="project sm:project md:project lg:project xl:project">
            <div class="p-4">
                <div class="project-icon">
                    <a href="{{ project.url }}">
                        <img class="mx-auto project-icon-img" alt="{{ project.name }}" src="{{ project.image }}">
                    </a>
                </div>
                <div class="mx-auto mt-2 text-center leading-tight">{{ project.name }}</div>
                <div class="mx-auto mt-1 text-center leading-tight font-light">{{ project.fullname }}</div>
                <div class="project-description md:project-description lg:project-description xl:project-description absolute
                px-2 py-2 rounded-sm text-center text-sm md:text-base lg:text-l text-white bg-indigo-900">
                    {{ project.description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>