<div class="py-4 text-sm">
    <div class="font-semibold">
        {{ pub.title }}
    </div>
    <div class="text-gray-600">
        {{ pub.authors | join: ", " }}
    </div>
    <div><em>{{ pub.venue }}</em> ({{ pub.shortVenue }}). {{ pub.location }}, {{ pub.date_display }}.
    </div>
    <div class="flex">
        {% for link in pub.links %}
        <a class="pub-link" href="{{ link.url }}">{{link.type }}</a>
        {% unless forloop.last %}
        <span class="">•</span>
        {% endunless %}
        {% endfor %}
    </div>