<div class="py-6 bg-gray-900 bg-hero-pattern text-white lg:py-9 2xl:py-12">
    <div class="px-6 sm:px-8 mx-auto max-w-screen-md">
        <div class="sm:flex sm:items-center justify-between w-full">
            <div class="sm:w-3/5">
                <image src="./assets/logo_black.png" style="display: inline-block;" alt="KISP Lab Logo" />
                <image src="./assets/logo_black2.png"
                    style="display: inline-block; padding-top: 9px; padding-left: 5px;" alt="KISP Lab Logo" />
            </div>
            <div class="mt-2 font-light text-base md:text-xl lg:text-2xl">{{ page.labslogan }}</div>
        </div>
    </div>
</div>