:root {
  --global-bg-color: #ffffff;
  --global-text-color: #000000;
  --global-theme-color: #dd967a;
  --global-hover-color: #aa4219;

  --grey-divider-color: rgba(0,0,0,0.7);
  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 14px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

.site-header {
  background-color: var(--global-theme-color);
}

.proj-item {
  margin: 2em 0;
  line-height: 1em;
  display: flex;
  flex-direction: row;
}

.proj-teaser {
  float: left;
}

.proj-teaser img {
  width: 100px;
  /* border: 1px solid black; */
  margin-right: 5px;
}
  
.proj-info {
  float: left;
}

.proj-name {
  margin-left: 5px;
  margin-bottom: .5em;
  line-height: 1.2em;
  font-weight: bold;
}

.proj-lead {
  font-size: 75%;
  margin-bottom: .75em;
  margin-left: 5px;
  font-weight: bold;
}

.proj-team {
  font-size: 110%;
  margin-bottom: .75em;
  margin-left: 5px;
  margin-top: 5px;
}

.proj-description {
  font-size: 110%;
  margin-bottom: .75em;
  margin-left: 5px;
}

.project-title {
  clear: both;
  text-align: center;
  font-size: 120%;
}

.project-image {
  clear: both;
  float: center;
  text-align: center;
}


.profile {
  margin: 10px 10px 10px 10px;
  line-height: 1em;
  /* border: 1px solid red; */
  float: left;
}

.profile-pic {
  clear: both;
}

.profile-info {
  clear: both
}

.profile-name {
  margin-left: 5px;
  margin-bottom: .5em;
  line-height: 1.2em;
  font-weight: bold;
}

.profile-text {
  margin-left: 5px;
  margin-bottom: 1.5em;
  line-height: 1.2em;
  font-size: 75%;
}

.profile-image {
  float: left;
  width: 30%;
}

.profile-header {
  float: right;
  width: 70%;
}

.profile-role {
  margin-left: 5px;
  line-height: 1.2em;
}

.profile-social-links {
  margin-left: 5px;
  line-height: 1.2em;
}

.post-content {
  padding-top: 20px;
  text-align: justify;
  clear: both;
}

.pub-item {
  margin: 2em 0;
  line-height: 1em;
}

.pub-title {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
}

.pub-authors,
.pub-info {
  font-size: 75%;
  margin-bottom: 0.75em;
}

.pub-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 20px; /* Adjust the gap between the text/buttons and the video */
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc; /* Add a border at the bottom of the container */
  padding-bottom: 20px; /* Add space between the content and the border */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-container {
  display: flex;
  gap: 10px; /* Space between Abstract and Code buttons */
  margin-top: 10px; /* Space between the pub-title and buttons */
}

.links .btn {
  color: var(--global-text-color);
  border: 1px solid var(--global-text-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0;
  text-decoration: none; /* Ensure the buttons look like buttons */
}

.links .big-btn {
  color: var(--global-text-color);
  border: 2px solid var(--global-text-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0;
  text-decoration: none; /* Ensure the buttons look like buttons */
  background-color: #e5ecf5; /* Default background color */
}

.links .btn:hover {
  color: var(--global-hover-color);
  border-color: var(--global-hover-color);
}

.links .big-btn:hover {
  color: var(--global-hover-color);
  border-color: var(--global-hover-color);
}


.toggle-container {
  display: flex;
  flex-direction: column;
}

.text {
  display: none;
  border: 1px solid transparent; /* Default transparent border */
  padding: 10px;
  background-color: #f0f0f0;
  margin-top: 10px; /* Add some space between the buttons and the text */
}

.boxed {
  border: 1px dashed black; /* Visible border when boxed */
  background-color: #f0f0f0;
  text-align: justify;
}

.video {
  display: none;
  flex-shrink: 0;
  width: 320px;
  height: 240px;
}

.video-show {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #ccc; /* Add a border at the bottom of the container */
  padding-bottom: 20px; /* Add space between the content and the border */
}

.category-section {
  display: none;
}
