---
layout: page
title: Publications
permalink: /pubs/
---

{% assign pubs = site.pubs %}
{% assign people = site.people %}
{% for pub in pubs reversed %}
<div class="pub-container">
  <div class="toggle-container">
    <div class="links">
      <div class="pub-title">{{ pub.title }}</div>
      <div class="pub-authors">
        {% assign authors = pub.authors %}
        {% include author_list.html %}
      </div>
      <div class="pub-info">{{ pub.publication }} {{pub.year}}</div>
      <div class="button-container">
        <a class="toggleButton btn btn-sm z-depth-0" role="button">Abstract</a>
        <a href="{{ project.github }}" class="btn btn-sm z-depth-0" role="button">Code</a>
        <a class="videoButton btn btn-sm z-depth-0" role="button">Video</a>
      </div>
    </div>
    {% if pub.abstract %}
    <p class="text">{{ pub.abstract }}</p>
    {% endif %}
  </div>
  {% if pub.video %}
  <p class="video"><iframe class="video" src="{{ pub.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  {% endif %}
</div>
{% endfor %}


<script>
  $(document).ready(function() {
      $('.toggleButton').click(function() {
          var container = $(this).closest('.pub-container');
          var text = container.find('.text');
          text.toggle();
          text.toggleClass('boxed');
      });

      $('.videoButton').click(function() {
          var container = $(this).closest('.pub-container');
          var video = container.find('.video');
          video.toggle();
          video.toggleClass('video-show');
      });
  });
</script>