---
layout: default
---

<div class="home">
    {% include slogan.html %}
    <section>
        <div id="about">
            {% include intro.html %}
        </div>
    </section>
    <section>
        <div id="news">
            {% include news.html %}
        </div>
    </section>
    <section>
        <div id="about">
            {% include intro-overview.html %}
        </div>
    </section>
    <section>
        <div id="people">
            {% include people.html %}
        </div>
    </section>
    <section>
        <div id="projects">
            {% include projects.html %}
        </div>
    </section>
    <section>
        <div id="publications">
            {% include publications.html %}
        </div>
    </section>
</div>