---
layout: default
---

{% assign people = site.people %}

<article class="post">

  <header class="post-header">
    <div class="project-title">
      <h1 class="post-title">{{ page.title | escape }}</h1>
      <h2> {{ page.description }} </h2>
    </div>
    <div class="project-image">
      <img src="/images/projects/{{ page.slug }}_small.png" alt="Project {{page.slug}} logo" />
    </div>

    <div class="proj-team">
      Project team:
      {%- assign authors = page.people -%}
      {%- include author_list.html -%}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <!-- List of Atomic Problems -->
  <div class="proj-atomic-problems">
    <h3>Themes</h3>
    <div class="problem-list">
      {% for problem in page.atomic_problems %}
      {%- assign prob = site.problems | where: "title", problem | first -%}
      <div class="problem-card">
        {% include atomic_problem.html %}
      </div>
      {% endfor %}

    </div>
  </div>

  <!-- List of all publications -->
  <!-- <div class="atomic-papers">
    {%- assign categorized_pubs = site.pubs -%}
    {%- assign sorted_pubs = categorized_pubs | sort: "year" | reverse %}
    {% if sorted_pubs.size > 0 %}
    <h3> All Publications </h3>
    <a class="toggleButton btn btn-sm z-depth-0" role="button">
      Click here to expand</a>
    <div class="related-papers-container" style="display: none;">
      <div class="container">
        <div class="row row-cols-2">
          {%- for project in sorted_pubs -%}
          {% include projects_horizontal.html %}
          {%- endfor %}
        </div>
      </div>
    </div>
    {% else %}
    <p>No papers listed.</p>
    {% endif %}
  </div> -->


</article>


<script>
  $(document).ready(function () {
    $('.toggleButton').click(function () {
      var container = $(this).next('.related-papers-container');
      container.toggle();
    });

    $('.videoButton').click(function () {
      var container = $(this).closest('.pub-container');
      var video = container.find('.video');
      video.toggle();
      video.toggleClass('video-show');
    });

  });
</script>