---
layout: default
---

{% assign people = site.people %}

<article class="post">

  <header class="post-header">
    <div class="project-title">
      <h1 class="post-title">{{ page.name | escape }}</h1>
    </div>
    <div class="project-image">
        <img src="/images/projects/{{ page.slug }}.png" alt="Project {{page.slug}} logo"/>
      </div>

      <div class="proj-lead">
        Project lead:
        {%- include author.html a = page.lead, nocomma = true -%}
      </div>
      <div class="proj-team">
        Project team:
        {%- include author_list.html authors = page.people -%}
      </div>
  </header>

  <div class="post-content">{{ content }}</div>
</article>